<form>
    Title<br>
	
	<input type="text",value="<%=id%>" ,id="article_id", hidden>
    <input type="text", id="title", value="<%=title%>" >
	Text<br>
    <input type="text", id="text", value="<%=text%>">
<button id="article_update">Update</button>
